.home {
        height: 40vh;
        background-image: url('18.JPG');
        background-position: center;
        background-size: cover;
        position: relative;
        z-index: 0;
       width: 100vw;
       
      }

  .home-content {
    padding: 100px; /* Adjust as needed */
    text-align: center;
    color: white; /* Text color to contrast with the background */
  }
  