@import '@fortawesome/fontawesome-free/css/all.min.css';

/* Custom CSS for Slideshow */

/* header */
.header {
  height: 7vh;
  width: 100%;
  background-color: #526534;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.address,
.number,
.email {
  display: inline-block;
  color: #fff;
}

.address {
  width: 38%;
  font-size: 16px;
}

.number,
.email {
  width: 29%;
  font-size: 15px;
}

.address,
.number,
.email {
  margin-top: 15px; /* Adjust the margin-top value to bring them lower */
}
@media screen and (min-width: 200px) and (max-width: 599px) {
  .number, .email, .address{
    font-size: 10px;
  }
}

.logo {
  display: flex;
  justify-content: center;
  padding-left: 40%;
}

.logo img {
  max-width: 37%; /* Set the maximum width of the logo */
  height: auto; /* Maintain aspect ratio */
}

/* nav section */
/* CSS for navigation bar */
.navbar {
  display: relative;
  justify-content: space-between;
  align-items: center;
  background-color: #526534;
  padding: 10px;
  text-align: center;
  z-index: 2;
}

.navbar-items {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}


