@import '@fortawesome/fontawesome-free/css/all.min.css';

/* Custom CSS for Slideshow */

/* header */

.address,
.number,
.email {
  display: inline-block;
  color: #fff;
}

.address {
  width: 35%;
  font-size: 15px;
  margin-left: 20px;
}

.number,
.email {
  width: 25%;
  font-size: 15px;
}

.address,
.email {
  margin-top: 20px; 
}
.email {
  margin-right: 35px; 
  font-size: 17px;
}

@media screen and (min-width: 200px) and (max-width: 600px){
  .number, .email, .address{
    font-size: 9px;
    margin-top: 3px;
    margin-bottom: 3px;
  }
  header{
    height: 8vh;
  }

}

@media screen and (min-width: 601px) and (max-width: 1200px) {
  .number, .email, .address{
    font-size: 12px;
    margin-top: 5px;
  }

  header{
    height: 7vh;
  }
}



/* nav section */

nav {

  background-color: #526534;
  width: 100%;
  
}

.menu {
  background-color: #526534; /* Set background color to #526534 */
  height: 400px; /* Set the height to your desired longer height */
}



